<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Add Post
    body
        h2 Add Post
        br
        form(action="/post" method="POST")
            label(for="text") Post Text
            input(type="text" name="text" max="200")
            label(for="likes")
            input(type="number" name="likes")
            button(type="submit")