<html>

<head>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1>Notes</h1>
        <div class="list-group" id="users">
        </div>
        <div class="well">
            <div class="form-group">
                <label>Add a note</label>
            </div>
            <form action="/notes" method="post" id="userForm">
                <div class="form-group">
                    <input type="text" name="title" placeholder="Title" class="form-control">
                </div>
                <div class="form-group">
                    <input type="date" name="date" placeholder="Date" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="summary" placeholder="Summary" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="fulltext" placeholder="Full Text" class="form-control">
                </div>
                <div>
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
            </form>
        </div>
    </div>
    <script>
        var notes = {}
        // get all the notes from the server
        $.ajax({
            url: '/notes/list'
        })
            .done(function (notelist) {
                // add each note to the list
                notes = notelist;
                var list = $('#users')
                for (note in notes) {
                    list.append(`<div class="list-group-item"><strong class="username">${notes[note].title}</strong> ${notes[note].summary}<a class="badge delete-btn">Delete</a><a class="badge bg-primary edit-btn">Edit</a><a href="/notes/${notes[note].title}" class="badge primary-btn">View</a></div>`)
                }
            })
        // when any of the edit buttons are clicked
        $('body').on('click', '.edit-btn', function (e) {
            e.preventDefault();
            // get the title
            var title = $(this).parent().find('strong').text()
            // setup the form
            var form = $(this).parent().html('<label>Edit Note: ' + title + '</label>' + $('#userForm')[0].outerHTML)
            form.find('[name="title"]').val(notes[note].title);
            form.find('[name="date"]').val(notes[note].date);
            form.find('[name="summary"]').val(notes[note].summary).attr('type', 'hidden');
            // when the form is submitted
            form.on('submit', function (e) {
                e.preventDefault();
                form = form.find('form');
                // send a put request to the server with all the form data
                $.ajax({
                    url: '/notes/' + title,
                    method: 'put',
                    data: form.serialize()
                })
                    .done(function (note) {
                        // remove the form and put the note info back
                        form.parent().replaceWith(`<div class="list-group-item"><strong class="username">${note.title}</strong>: ${note.summary}<a class="badge delete-btn">Delete</a><a class="badge bg-primary edit-btn">Edit</a></div>`)
                    })
            })
        })
        // when the delete button is clicked
        $('body').on('click', '.delete-btn', function (e) {
            e.preventDefault();
            var item = $(this).parent()
            var title = item.find('strong').text()
            // send a delete request to the server with the title
            $.ajax({
                url: '/notes/' + title,
                method: 'delete'
            })
                .done(function () {
                    item.remove();
                })
        })
    </script>
</body>

</html>