<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Final Exam
  //- Compiled and minified CSS
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css')

  link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')

body
  nav
    .nav-wrapper.container
      a.brand-logo.left(href="/") Final Exam
      ul#nav-mobile.right
        unless user
          li
            a(href="/login") Login
          li
            a(href="/signup") Sign Up
        else
          li
            a(href="/list") Fruit
          li
            a(href="/logout") Logout
  .container
    block content
    //- Compiled and minified JavaScript
    script(type='text/javascript', src='https://code.jquery.com/jquery-3.2.1.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js')